<%- include('partials/header')%>
<section>
  <div class="header">
    <h2>Vehicle Details</h2>
  </div>
  <div class="container">
    <div class="row">
      <fieldset>
        <legend>
          <h5>Vehicle-Particulars</h5>
        </legend>
        <table>
          <tr>
            <td>Registraton Number:</td>
            <td><%= vehicle['vehicle_regno']%></td>
            <td>Engine Number:</td>
            <td><%= vehicle['vehicle_engineno']%></td>
          </tr>
          <tr>
            <td>Chassis Number:</td>
            <td><%= vehicle['vehicle_chasisno']%></td>
          </tr>
        </table>
      </fieldset>
      <fieldset>
        <legend>
          <h5>Owner Details</h5>
        </legend>
        <table>
          <tr>
            <td>Name:</td>
            <td><%= vehicleUser.name %></td>
            <td>Email:</td>
            <td><%= vehicleUser.email %></td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td><%= vehicleUser.phone %></td>
            <td>Gender:</td>
            <td><%= vehicleUser.gender %></td>
          </tr>
          <tr>
            <td>Address:</td>
            <td><%= vehicleUser.address %></td>
            <td>City:</td>
            <td><%= vehicleUser.city %></td>
          </tr>
          <tr>
            <td>District:</td>
            <td><%= vehicleUser.district %></td>
            <td>State:</td>
            <td><%= vehicleUser.state %></td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
</section>

<%- include('partials/footer')%>
