<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>NCRA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
  <link href="assets/css/animate.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Roboto+Condensed:400,300,700"
    rel="stylesheet" />

  <link href="assets/css/style.css" rel="stylesheet" />
  <link href="assets/color/default.css" rel="stylesheet" />

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.ico" />
  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px black;
      /* border-radius: 10px; */
      background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(106, 188, 243);
    }
    .img-polaroid{
      height: 250px;
    }
  </style>
</head>

<body>
  <header>
    <!-- start top -->
    <div id="topnav" class="navbar navbar-fixed-top default">
      <div class="navbar-inner">
        <div class="container">
          <div class="logo">
            <a href="/"><img src="images/icon.png" height="50px" width="50px" alt="" /></a>
          </div>
          <div class="logo">
            <h1>National Crime records agency</h1>
          </div>
          <div class="navigation">
            <nav>
              <ul class="nav pull-right">
                <li class="current"><a href="#intro">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#works">Forms</a></li>
                <li><a href="#about">About</a></li> 
                <!-- <li><a href="#contact">Contact</a></li> -->
                <li class="dropdown">
                  <a href="#"><%= ps.name %> <i class="icon-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#" class="external"><%= ps.username %></a>
                    </li>
                    <li><a href="/logout" class="external">Logout</a></li>
                    
                  </ul>
                  <threebox-address data-address='0xa8ee0babe72cd9a80ae45dd74cd3eae7a82fd5d1'></threebox-address>
                </li>
              </ul>
            </nav>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end top -->
  </header>
  <!-- section intro -->
  <section id="intro">
    <div class="slogan">
      <div class="icon">
        <i class="icon-beaker icon-10x"></i>
      </div>
      <h1>Welcome to <span>National Crime Records Agency</span></h1>
      <h2><b>Protect with honor, serve with pride</b></h2>
    </div>
  </section>
  <!-- end intro -->
  <!-- Section about -->
  <!-- section services -->
  <section id="services" class="section parallax dark">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="heading">
            <h3><span>Our services</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              Gangs show there colors so we show ours red and blues all the way.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="box aligncenter">
            <div class="halftop">
              <h4><strong>FIR Management</strong></h4>
              <!-- <i class="icon-desktop icon-4x"></i>-->
              <img src="images/fir.jpg" width="55px" height="55px" />
            </div>
            <p>
              View and manage recorded FIRs/ New FIRs
            </p>
            <a href="/fir" class="btn btn-theme">View</a>
          </div>
        </div>
        <div class="span3">
          <div class="box aligncenter">
            <div class="halftop">
              <h4><strong>Criminal Records</strong></h4>
              <!--<i class="icon-briefcase icon-4x"></i>-->
              <img src="images/download.jpg" width="51px" height="51px" />
            </div>
            <p>
              View/Manage records of added criminals/cases
            </p>
            <a href="/criminal" class="btn btn-theme">View</a>
          </div>
        </div>
        <div class="span3">
          <div class="box aligncenter">
            <div class="halftop">
              <h4><strong>Complaint Management</strong></h4>
              <img src="images/complain.jpg" width="55px" height="55px" />
              <!-- <i class="icon-mobile-phone icon-4x"></i>-->
            </div>
            <p>
              View and Manage complaints recorded/added
            </p>
            <a href="/complaint" class="btn btn-theme">View</a>
          </div>
        </div>
        <% if(typeof ps.admin != 'undefined' && ps.admin == 1){ %>
          <div class="span3">
            <div class="box aligncenter">
              <div class="halftop">
                <h4><strong>Fund Allocation</strong></h4>
                <img src="images/verify.png" width="55px" height="55px" />
                <!-- <i class="icon-mobile-phone icon-4x"></i>-->
              </div>
              <p>
                Verify requests for Funds and allocate accordingly
              </p>
              <a href="/fundAllocation" class="btn btn-theme">View</a>
            </div>
          </div>
        <% } %>
        
      </div>
    </div>
  </section>
  <!-- end section services -->
  <!-- section works -->
  <section id="works" class="section gray-bg">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="heading">
            <h3><span>Form Filling</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              Lodge FIR, Complaint etc.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul type="none">
          <li class="active"><a href="form/fir" class="btn btn-theme">Report FIR</a></li><br>
          <li class="web"><a href="form/complaint" class="btn btn-theme">Report Complain</a></li><br>
          <li class="brand"><a href="form/missing-person" class="btn btn-theme">Report Missing Person</a></li><br>
          <li class="graphic"><a href="form/lost-vehicle" class="btn btn-theme">Report Lost Vehicle</a></li><br>
          <% if(typeof ps.admin == 'undefined' || ps.admin == 0){ %>
            <li class="web"><a href="form/requestforFund" class="btn btn-theme">Request for Fund</a></li><br>
            <li class="web"><a href="form/uploadBills" class="btn btn-theme">Upload Bills</a></li>
          <% } %> 
          
        </ul>
        <div class="clear">
        </div>
      </div>
    </div>
    </div>
  </section>
  <% if(ps.admin == 0){ %>
  <!-- <section id="about"> -->
  <section id="about" class="section">
    <div class="container">
      <div class="heading">
        <span><h3>About</h3></span>
      </div>
          <div class="sub-heading">
            <p>
              We Serve our Community! We Protect our Citizens! United we stand, Divided we fall. Justice will be served!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <img src="<%= polices.sp.url %>" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong><%= polices.sp.name %></strong></h5>
            <p>
              Superintendent of police
            </p>
            <ul class="social-profile">
              <li>
                <a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <img src="<%= polices.dsp.url %>" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong><%= polices.dsp.name %></strong></h5>
            <p>
              Deputy Superintendent of Police
            </p>
            <ul class="social-profile">
              <li>
                <a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <img src="<%= polices.ins.url %>" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong><%= polices.ins.name %></strong></h5>
            <p>
              Inspector
            </p>
            <ul class="social-profile">
              <li>
                <a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="span3">
          <img src="" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong>Brian James Scoothie</strong></h5>
            <p>
              Sub Inspector
            </p>
            <ul class="social-profile">
              <li>
                <a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <%}%>
  <!-- end section about -->
  <!-- section works -->
  <!-- section contact -->
  <!-- <section id="contact" class="section">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="heading">
              <h3><span>Get in touch</span></h3>
            </div>
            <div class="sub-heading">
              <p>
                Lorem ipsum dolor sit amet, mutat paulo simul per no, assum
                fastidii vituperata eam no.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="span6">
            <h4><i class="icon-envelope"></i><strong>Contact form</strong></h4>
            <p>
              Want to work with us or just want to say hello? Don't hesitate to
              get in touch!
            </p>
             start contact form -->
  <!-- <form action="" method="post" role="form" class="contactForm">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <ul class="contact-list">
                <li class="form-group">
                  <label>Name <span>*</span></label>
                  <input
                    type="text"
                    name="name"
                    class="form_input"
                    id="name"
                    placeholder="Your Name"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                  />
                  <div class="validation"></div>
                </li>

                <li class="form-group">
                  <label>Email <span>*</span></label>
                  <input
                    type="email"
                    class="form_input"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    data-rule="email"
                    data-msg="Please enter a valid email"
                  />
                  <div class="validation"></div>
                </li>
                <li class="form-group">
                  <label>Subject <span>*</span></label>
                  <input
                    type="text"
                    class="form_input"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validation"></div>
                </li>

                <li class="form-group">
                  <label>Your message <span>*</span></label>
                  <textarea
                    class="form_textarea"
                    name="message"
                    rows="12"
                    data-rule="required"
                    data-msg="Please write something for us"
                    placeholder="Message"
                  ></textarea>
                  <div class="validation"></div>
                </li>
                <li class="last">
                  <button
                    class="btn btn-large btn-theme"
                    type="submit"
                    id="send"
                  >
                    Send a message
                  </button>
                </li>
              </ul>
            </form>

             end contact form 
          </div>
          <div class="span6">
            <h4><i class="icon-suitcase"></i><strong>Our office</strong></h4>
            <p>
              Feel free to ask if you have any question regarding our services
              or if you just want to say Hello, we would love to hear from you.
            </p>
            <div class="dotted_line"></div>
            <p>
              <strong>Vesperr Labs Inc</strong>
            </p>
            <p>
              X123 Street, palm 05 ave Peterongan Semarang, Indonesia 50242
            </p>
            <p>
              <span
                ><i class="icon-phone"></i><strong>Phone:</strong> +6221 999 888
                77 or +6221 999 888 66</span
              >
            </p>
            <p>
              <span
                ><i class="icon-comment"></i
                ><strong>Skype:</strong> vesperr.contact</span
              >
            </p>
            <p>
              <span
                ><i class="icon-envelope-alt"></i
                ><strong>Email:</strong> info@yourdomainname.com</span
              >
            </p>
            <div class="dotted_line"></div>
            <h4>
              <i class="icon-group"></i
              ><strong>Connect to our social profiles</strong>
            </h4>
            <div class="social-links">
              <ul class="social-links">
                <li>
                  <a href="#" title="Twitter"
                    ><i class="icon-square icon-32 icon-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" title="Facebook"
                    ><i class="icon-square icon-32 icon-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" title="Google plus"
                    ><i class="icon-square icon-32 icon-google-plus"></i
                  ></a>
                </li>
                <li>
                  <a href="#" title="Linkedin"
                    ><i class="icon-square icon-32 icon-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="#" title="Pinterest"
                    ><i class="icon-square icon-32 icon-pinterest"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
                width="100%"
                height="350"
                frameborder="0"
                style="border:0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>-->
  <!-- end section contact -->

  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <!-- <div class="logo">
                <a class="brand" href="index.html"><img src="assets/img/logo.png" alt="" /></a>
              </div> -->
              <p>
                &copy; NCRA - All right reserved
              </p>
              <div class="credits">
                Created by <a href="#" title="yeah...">Manish Kumar JS lover</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>

  <!-- Javascript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/parallax/jquery.parallax-1.1.3.js"></script>
  <script src="assets/js/nagging-menu.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/prettyPhoto/jquery.prettyPhoto.js"></script>
  <script src="assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="assets/js/portfolio/setting.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script>
  <script src="assets/js/animate.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="assets/js/custom.js"></script>
  <script type="text/javascript" src="<https://unpkg.com/profile-hover>"></script>
</body>

</html>